main {
    display: flex;
    background-color: var(--primary-color);
    
}
/* styling for left static container */
.heading_1 {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
}

.left_navbar {
    width: 20%;
    margin-left: 2%;
    position: -webkit-sticky;
    align-self: self-start;
    transition: all 0s ease;
    background-color: var(--primary-color);
}

.common_container{
    color: var(--secondary-color);
}
.common_heading {
    height: 30px;
    margin-top: 3%;
    color: var(--secondary-color);
}

h3 {
    font-size: 14px;
    font-weight: 700;
}


/* right container styling */
.items {
    width: 200px;
}

.right_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
}


/* footer css */

footer{
    background-color: var(--primary-color);
}
.footer_container {
    padding: 30px 0px 40px 0px;
    background:var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    }
    
    .footer_column {
    display: flex;
    flex-direction: column;
    }
    
    .footer_column h3 {
    color: var(--secondary-color);
    font-size: 14px;
    margin-bottom: 25px;
    }
    
    .footer_column a {
    color: var(--secondary-color);
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    }
    
    .copyright {
    color:var(--secondary-color);
    text-align: end;
    padding: 15px;
    }

:root{
    --primary-color:#000;
    --secondary-color:#0cc;
}    